{{> header }}
<div class="section-padding dashboard">
    <div class="page-header">
        <h1>{{ title }}</h1>
        <a href="categories/add" class="btn btn-info">Add Category</a>
    </div>
    <table>
        <thead>
            <th class="column-category-name">Category</th>
            <th class="column-category-options">Options</th>
        </thead>
        <tbody>
            {{#each dataset}}
            <tr>
                <td>{{ this.name }}</td>
                <td>
                    <a href="categories/edit/{{this._id}}" class="btn btn-primary">Edit</a>
                    <a href="categories/delete/{{this._id}}" class="btn btn-danger" onclick="return confirmDeletion()">Delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>