{{> header }}
<div class="section-padding dashboard">
    <div class="title-div">
        <h1>{{ title }}</h1>
        <a href="categories/add" class="button form-add-button">Add Category</a>
    </div>
    <table>
        <thead>
            <th class="column-category-name">Category</th>
            <th class="column-category-options">Options</th>
        </thead>
        <tbody>
            {{#each dataset}}
            <tr>
                <td>{{ this.name }}</td>
                <td class="button-form-row">
                    <a href="categories/edit/{{this._id}}" class="button edit-button">Edit</a>
                    <a href="categories/delete/{{this._id}}" class="button delete-button" onclick="return confirmDeletion()">Delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>