<header>
  <nav>
    <a>Finance Tracker</a>
    <div class="nav-buttons">
      {{#if user}}
      <a href="/overview">Overview</a>
      <a href="/incomes">Income</a>
      <a href="/expenses">Expense</a>
      <a href="/categories">Categories</a>
      <a href="/logout">Logout</a>
      {{else}}
      <a href="/">Home</a>
      <a href="/register">Register</a>
      <a href="/login">Login</a>
      {{/if}}
    </div>
  </nav>
</header>