<div class="content-container" id="about">
  <h1>{{title}}</h1>
  <p>Hi, my name is Karsten! I will be graduating later this year with a Diploma in Computer Programming from Georgian College. Aside from my education, I have a passion for game development with the Godot engine.</p>
</div>