<div class="content-container" id="projects">
  <h1>{{title}}</h1>
  <div class="project-card">
    <img class="project-images" src="/images/weather-app-screenshot.webp" />
    <div class="project-card-text">
      <h2>Weather App</h2>
      <p>Single page weather application that searches the weather based on city from a third party API. <span><a href="kaseadoun.github.io/weather-app/">kaseadoun.github.io/weather-app/</a></span></p>
      <div class="technologies-tags">
        <span>React.js</span>
        <span>CSS</span>
      </div>
    </div>
  </div>
</div>