@import url('../node_modules/font-awesome/css/font-awesome.min.css'); 


:root {
  --charcoal: #373f51;
  --selective-yellow: #ffba19;
  --baby-powder: #fffcf9;
  --vista-blue: #7699d4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", sans-serif;
}

body {
  background-color: var(--charcoal);
}

h1 {
  color: var(--selective-yellow);
  font-weight: 900;
  font-size: 200px;
}

.horizontal-container {
  display: flex;
}

/* ---------- HEADER AND FOOTER CONTAINER ---------- */
.header-footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  min-width: 250px;
  max-width: 300px;
  width: 20%;
  background-color: var(--charcoal);
  box-shadow: 0 0 20px var(--charcoal);
  z-index: 1;
}

header {
  position: relative;
  width: 100%;
  height: 100%;
}

nav {
  position: absolute;
  width: 100%;
  top: 30vh;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}

ul > *:hover {
  background-color: var(--baby-powder);
  color: var(--charcoal);
}

li {
  padding-left: 15%;
}
li > a {
  color: var(--baby-powder);
  font-size: 35px;
}
li:hover,
li:hover a {
  background-color: var(--baby-powder);
  color: var(--charcoal);
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
}
.footer-links {
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--baby-powder);
}
.footer-icons {
  font-size: 25px;
  color: var(--baby-powder);
}
.footer-links:hover,
.footer-icons:hover {
  color: var(--baby-powder);
}

/* ---------- CONTENT CONTAINER ---------- */
.content-container {
  display: flex;
  flex-direction: column;
  background-color: var(--baby-powder);
  width: 100%;
  height: 100vh;
  padding: 50px 50px;
}

#home {
  justify-content: center;
}


/* ---------- HOME PAGE ---------- */
.tag {
  /* margin-left: 3px; */
  margin-top: -30px;
  font-size: 40px;
}

/* ---------- ABOUT PAGE ---------- */

/* ---------- PROJECT PAGE ---------- */

/* ---------- CONTACT PAGE ---------- */