{{> header }}
<div id="landing-banner">
    <h1>Welcome to {{title}}</h1>
    <p>Manage Your Money Better</p>
    <div id="banner-button-container">
        <a class="banner-button button" href="/register">Register</a>
        <a class="banner-button button" href="/login">Already Have an Account?</a>
    </div>
</div>
<div class="section">
    <div class="section-padding">
        <div>
            <h2>Keep Track of All Your Transactions</h2>
            <p></p>
        </div>
    </div>
</div>