{{> header }}
<div id="landing-banner">
    <h1>Welcome to {{title}}</h1>
    <p>Save Money, Live Better</p>
    <div id="banner-button-container">
        <a class="banner-button" href="/register">Register</a>
        <a class="banner-button" href="/login">Already Have an Account?</a>
    </div>
</div>
<div id="demonstration-section">
    <div>
        <h2></h2>
        <p></p>
    </div>
</div>