<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    {{! GOOGLE FONTS }}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap"
      rel="stylesheet"
    />
    {{! SCRIPT FOR CHART.JS DEPENDENCY }}
    <script src="/js/chart.umd.js"></script>
    {{!-- For delete confirmation --}}
    <script src="/js/scripts.js"></script>
  </head>
  <body>
    {{{body}}}
    {{> footer}}
  </body>
</html>