<div id="login-register-layout">
  <div id="login-register-container">
    <h1>Login</h1>
    {{#if messages}}
      <div>
        <p class="error-message">Invalid Credentials</p>
      </div>
    {{else}}
      <div>
        <p>Please Enter Your Credentials</p>
      </div>
    {{/if}}
    <form method="POST">
      <fieldset>
        <label for="username" class="labels">Username:</label>
        <input name="username" id="username" required />
      </fieldset>
      <fieldset>
        <label for="password" class="labels">Password:</label>
        <input name="password" id="password" type="password" required />
      </fieldset>
      <button>Login</button>
      <a href="/" class="cancel-button">Cancel</a>
      <p>
        Need an Account?
        <a href="/register">
          Register</a>
      </p>
    </form>
  </div>
</div>