{{> header }}
<div class="section-padding dashboard">
    <h1>Overview</h1>
    <div>
        <h2>Income</h2>
        <canvas id="incomeChart" class="barChart"></canvas>
    </div>
    <div>
        <h2>Expense</h2>
        <canvas id="expenseChart" class="barChart"></canvas>
    </div>
    <script type="module" src="/js/chart.js"></script>
</div>
