/* --------------------------------------------------- COLOR PALETTE */
:root {
  --primary: #40476d;
  --secondary: #575b74;
  --tertiary: #d9dcec;
  --light-color: #eef3f0;
  --black: #000000;
  --white: #ffffff;
  --link-blue: #c2ecff;
  --yellow: #ffd000;
}

/* --------------------------------------------------- GENERAL STYLING */
* {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
  color: var(--light-color);
  height: 100vh;
  margin-top: 50px;
}

a {
  color: var(--link-blue);
}

nav,
.section-padding {
  padding: 0 100px 0 100px;
}

.dashboard {
  padding-top: 25px;
  background-color: var(--white);
  min-height: 94.5vh;
}
.dashboard > * {
  color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
#h1-span {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}

p,
input,
a,
button {
  font-family: "Tajawal", sans-serif;
  font-size: 20px;
}

button {
  height: 25px;
}

.button {
  display: block;
  padding: 10px 15px;
  border-radius: 5px;
  color: var(--primary);
  text-decoration: none;
  font-weight: 600;
}

/* --------------------------------------------------- NAVIGATION BAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  height: 50px;
  width: 100%;
  background-color: var(--primary);
}
nav a {
  font-weight: 500;
}

.nav-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 600px;
  height: 100%;
}

.nav-buttons > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100px;
  color: var(--light-color);
  text-decoration: none;
}
.nav-buttons > a:hover {
  height: 100%;
  background-color: var(--tertiary);
  color: var(--black);
}

/* --------------------------------------------------- FOOTER */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
}

/* --------------------------------------------------- FORM GENERAL */
fieldset {
  border: none;
}
fieldset > * {
  display: block;
}
form {
  display: flex;
  flex-direction: column;
}
form > * {
  margin: 10px 0;
}
input {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  padding: 5px;
}
.labels {
  margin-bottom: 5px;
}
button {
  height: 30px;
}

/* --------------------------------------------------- LOGIN PAGE | REGISTER PAGE */
#login-register-layout {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 100px;
}

#login-register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 2px grey;
  border-radius: 5px;
  padding: 20px 20px;
  width: 25vw;
  background-color: var(--secondary);
}

#login-register-container > * {
  margin: 10px 0;
  width: 90%;
}

.github-button {
  background-color: var(--black);
  color: var(--white);
}

/* --------------------------------------------------- LANDING PAGE (INDEX) */
#landing-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

#landing-banner h1 {
  font-size: 50px;
}

#banner-button-container {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.banner-button:first-child {
  background-color: var(--yellow);
}
.banner-button:nth-child(2) {
  background-color: var(--tertiary);
}
.banner-button:hover {
  opacity: 0.5;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  background-color: var(--white);
}

/* --------------------------------------------------- CHART ATTRIBUTES */
.barChart {
  max-width: 500px;
  max-height: 300px;
}

/* --------------------------------------------------- DASHBOARD */
/* Overview */
#chart-column-container {
  margin-top: 20px;
  padding: 20px 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.chart-column > * {
  margin: 0 0 40px 0;
}

/* Tables of Income and Expense */
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 18px;
  text-align: left;
  margin-top: 25px;
  border-bottom: solid 4px var(--primary);
  filter: drop-shadow(0 0 5px var(--black));
  color: var(--black);
}
th, td {
  height: 50px;
  padding: 10px 20px;
}
th {
  background-color: var(--secondary);
  color: var(--light-color);
}
tr:nth-child(odd) {
  background-color: var(--white);
}
tr:nth-child(even) {
  background-color: var(--tertiary);
}
.column-income-source, 
.column-expense-expense {
  width: 15%;
}
.column-income-date,
.column-expense-date {
  width: 10%;
}
.column-income-amount,
.column-expense-amount {
  width: 15%;
}
.column-income-description,
.column-expense-description {
  width: 40%;
}
.column-income-options {
  width: 10%;
}
.column-expense-options,
.column-expense-category {
  width: 10%;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}